footer {
  background: $background-color;
  color: white;
  height: 10vh;
  padding: 0% 5%;
  @include flex(flex-start, center, row);
  ul {
    font-size: 30rem;
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
  }
  h4 {
    flex: 1 1 40rem;
  }
}
