.projects {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin-top: 4rem;
  }
}

.travelly,
.elena-joy,
.todo-list {
  flex: 1 1 40rem;
  margin-bottom: 5vh;
}
