$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";

@media screen and (max-width: 1950px) {
  html {
    margin: 0;
    padding: 0;
    font: size 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 889px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
  }
  .main-head {
    width: 100%;
  }
  nav {
    margin: 2rem;
    .logo {
      @include flex(center, center, column);
      flex: 1 1 25rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
    }
  }
  .intro-images {
    text-align: center;
  }
  .elena-joy,
  .travelly {
    flex: 1 1 60rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 611px) {
  form {
    padding: 0;
    width: 100%;
  }
}
